/* google fonts
	============================================================================================ */
  @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

  /* global style start
  	============================================================================================ */
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    color: #3a3434;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .let-space-08 {
    letter-spacing: 0.8px;
  }

  /* ==================== TEXT STYLE ==================== */
  .roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
  }

  .roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  .text-gold {
    color: #f9a932;
  }

  .text-green {
    color: #4ab44f;
  }

  .text-grey {
    color: #888888;
  }

  .text-32 {
    font-size: 32px;
  }

  .text-24 {
    font-size: 24px;
  }

  .text-18 {
    font-size: 18px;
  }

  .text-12 {
    font-size: 12px;
  }

  .text-10 {
    font-size: 10px;
  }

  .text-9 {
    font-size: 9px;
  }

  .text-8 {
    font-size: 8px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h5 {
    font-size: 24px;
  }

  footer {
    background-color: #04091e;
  }

  .h5-20 {
    font-size: 20px;
  }

  @media (max-width: 991px) {
    .h1 {
      font-size: 46px;
    }
  }

  @media (max-width: 767px) {
    .h1 {
      font-size: 32px;
    }
  }

  .block {
   display: block;
  }
  /* ==================== END TEXT STYLE ==================== */

  /* ==================== CLASS STYLE ==================== */

  .bg-coffee {
    background:linear-gradient(0deg, rgba(10, 41, 12, 0.7), rgba(10, 41, 12, 0.7)), url("../img/Picture27.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .navbar-fixed {
    background-color: #ffffff;    
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .mis-header {
    width: 100%;
    padding: 12px;
  }

  @media (max-width: 575px) {
    header .navbar-collapse {
      max-height: 340px;
      overflow-y: scroll;
    }
  }

  .mis-header-logo {
    text-align: center;
  }

  .mis-header-logo-100 {
    text-align: center;
  }

  .mis-header-logo-100 img{
    max-height: 100px;
  }

  .bg-gold {
    background-color: #f6ab2a;
  }

  .bg-dark-green {
    background-color: #374738;
  }

  .mis-bg-logo {
    background-color: #0a290c;
  }

  .navbar-dark {
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 0px;
  }

  .navbar-dark ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-dark .nav-item {
    font-size: 17px;
    font-weight: 500;
    padding: 17px;
  }

  .active > .nav-link{
    color: #ffffff !important;
    background-color: #f6ab2a;
    border-radius: 25px;
  }

  .nav-link {
    color: #f6ab2a !important;
    padding: 2px 10px !important;
  }

  .nav-link:hover {
    color: #ffffff !important;
    background-color: #f6ab2a;
    border-radius: 25px;
  }

  /* NAVBAR TOGGLER */
  @media (max-width: 991px) {
    /* Main Menu Area css
  	============================================================================================ */
    .navbar-toggler {
      border: none;
      border-radius: 0px;
      padding: 0px;
      cursor: pointer;
      margin-top: 27px;
      margin-bottom: 23px;
    }
    .header_area .navbar {
      background: #ffe262;
    }
    .header_area .navbar .nav-item.active .nav-link {
      color: #45b54b !important;
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
      opacity: 1;
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
      opacity: 0;
    }
    .navbar-toggler[aria-expanded="true"] span:first-child {
      transform: rotate(-45deg);
      position: relative;
      top: 7.5px;
    }
    .navbar-toggler[aria-expanded="true"] span:last-child {
      transform: rotate(45deg);
      bottom: 6px;
      position: relative;
    }
    .navbar-toggler span {
      display: block;
      width: 25px;
      height: 3px;
      background: #45b54b;
      margin: auto;
      margin-bottom: 4px;
      transition: all 400ms linear;
      cursor: pointer;
    }
  }
    /* END NAVBAR TOGGLER */

    .box-talks {
      color: #ffffff;
      position: absolute;
      z-index: 10;
      right: 50px;
      bottom: 15%;
    }

    .box-talks img {
      height: 50px;
      display: block;
    }

    .link-none {
      text-decoration: none !important;
    }

    .border-none {
      border: 0px;
    }

    .sosmed {
      margin: 0px 4px;
    }

    .sosmed img {
      max-height: 50px;
    }

    .overlay {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      position: absolute;
    }

    .sosmed .overlay:hover {
      cursor: pointer;
      background: #f9a932;
      opacity: 0.3;
    }

    .sosmed .overlay:active {
      cursor: pointer;
      background: #f9a932;
      opacity: 0.3;
    }

    .card-content {
      width: 218px;
      height: 295px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }

    .overlay-content {
      background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0) 50%, rgba(36, 36, 36,0.8));
      position: absolute;
      border-radius: 10px;
      width: 218px;
      height: 295px;
    }

    .text-content {
      position: absolute;
      bottom: 8px;
    }
  /* ==================== END CLASS STYLE ==================== */

  /* ==================== ID STYLE ==================== */
  #beranda {
    height: 520px;
    padding: 125px 0px;
    position: relative;
  }

  @media only screen and (max-width: 750px) {
    #beranda {
      height: 520px;
      padding: 60px 0;
    }
    .box-talks {
      bottom: 10%;
      right: 5%;
    }
  }

  #contact {
    background:linear-gradient(0deg, rgba(10, 41, 12, 0.7), rgba(10, 41, 12, 0.7)), url("../img/Picture27.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    max-height: 560px;
    padding: 90px 0;
  }
  /* ==================== END ID STYLE ==================== */

  /* ==================== BUTTON HIJAU =================== */
  .btn-hijau {
    border: 0px;
    border-radius: 20px;
    background-color: #45b54b;
    color: #ffffff;
    font-weight: 500;
    padding: 8px 16px;
  }

  .btn-hijau:hover, .btn-hijau:active {
    background-color: #30a136;
  }

  .btn-kuning {
    border: 0px;
    border-radius: 20px;
    background-color: #f6ab2a;
    color: #ffffff;
    font-weight: 500;
    width: 180px;
    padding: 8px 10px;
  }

  .btn-kuning:hover, .btn-kuning:active {
    background-color: #e6a029;
    color: #ffffff;
  }

  /* ==================== END BUTTON HIJAU =================== */

  /* ==================== IMAGE CSS =================== */
  .img-295 {
    max-height: 295px;
  }

  .img-180 {
    max-height: 180px;
  }

  .img-100 {
    max-height: 100px;
  }

  .img-50 {
    max-height: 50px;
  }

  .img-25 {
    max-height: 25px;
  }
  /* ==================== END IMAGE CSS =================== */

  /* ==================== MARGIN CSS =================== */
  .mt-48 {
    margin-top: 48px;
  }

  .mt-64 {
    margin-top: 64px;
  }

  .mt-120 {
    margin-top: 120px;
  }
  /* ==================== END MARGIN CSS =================== */

  /* ==================== PADDING CSS =================== */
  .px-48 {
    padding: 0px 48px;
  }
  /* ==================== END PADDING CSS =================== */

  /* ================ DARI STYLES CSS ========================== */
  .zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: 0.5s all 0s;
    -moz-transition: 0.5s all 0s;
    -ms-transition: 0.5s all 0s;
    -o-transition: 0.5s all 0s;
    transition: 0.5s all 0s;
    display: block !important;
  }

  .zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform:none;
  }

  .search-wrapper {
    background: #f8f8ff;
    padding: 30px 10px;
    text-align: center;
  }

  @media (min-width: 600px) {
    .search-wrapper {
      padding: 60px;
    }
  }

  .search-wrapper h3 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  @media (min-width: 600px) {
    .search-wrapper h3 {
      margin-bottom: 50px;
    }
  }

        /* ============ FORM STYLE BARU======= */
  .custom-form .form-group {
    margin-bottom: 20px;
  }

  .custom-form .nice-select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999;
  }

  .custom-form .nice-select:after {
    right: 25px;
  }

  .custom-form .form-control {
    font-size: 14px;
    color: #999999;
    padding-left: 20px;
    border: 1;
    height: 50px;
    border-radius: 0;
  }

  .custom-form .password{
    font-size: 14px;
    color: #999999;
    padding-left: 20px;
    border: 0;
    height: 50px;
    border-radius: 0;
  }

  .custom-form .form-control::placeholder {
    color: #999999;
  }

  .custom-form .form-control:focus {
    outline: 0;
    box-shadow: none;
  }

  .custom-form .input-group-append .input-group-text {
    border: 0;
    padding-right: 20px;
    border-radius: 0;
    background: #fff;
  }

  .custom-form .input-group-append i, .search-form .input-group-append span {
    font-size: 14px;
    color: #999999;
  }

  .custom-form::placeholder {
    color: #999999;
  }
      /* ============ END FORM STYLE BARU======= */
  .lay-password-outline {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #babab6;
  }

  .lay-password-outline > a {
    margin-right: 8px;
    text-decoration: none;
    color: #babab6;
  }

  .password-invalid {
    border-color: #d63a22;
  }

  button {
    cursor: pointer;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  button[disabled]:hover{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  .button-kuning {
    display: inline-block;
    background-color: #f9aa32;
    color: #fff;
    border-radius: 30px;
    padding: 8px 25px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  @media (min-width: 600px) {
    .button-kuning {
      padding: 12px 45px;
    }
  }

  .button-kuning:hover {
    background-color: #f2a633;
    color: #fff;
  }

  .button {
    display: inline-block;
    background-color: #45b54b;
    color: #fff;
    border-radius: 30px;
    padding: 8px 25px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  @media (min-width: 600px) {
    .button {
      padding: 12px 45px;
    }
  }

  .button:hover {
    background-color: #3c8f40;
    color: #fff;
  }

  /* ================================= CURSOR */
  .not-allowed {
    cursor: not-allowed! important;
  }

  .wait {
    cursor: wait;
  }
  /* ================================= END CURSOR */

  .fixed-alert {
    z-index: 99;
    position: fixed;
    right: -100px;
    top: 155px;
  }

/* ================ END DARI STYLES CSS ========================== */
